{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <p class="img-fluid rounded-start" alt="..."> {{db.url}} </p>
            </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> Visualização</h5>
                <strong class="card-text">CNPJ: </strong> {{db.cnpj}} <br>
                <strong class="card-text">Razão Social: </strong> {{db.razaoSocial}} <br>
                <strong class="card-text">E-mail: </strong> {{db.email}} <br>
                <strong class="card-text">Cidade: </strong> {{db.cidade}} <br>
                <strong class="card-text">Estado: </strong> {{db.estado}} <br>
                <div class="col-8 m-auto pt-3 pb-2">
                    <a href="/home" class="btn btn-info">Voltar</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>